# Files to ignore
setup.cfg

# Extensions to ignore
*.so
*.html
*.ipynb_checkpoints
*.pyc

# Folders to ignore
env/
build/
fynance.egg-info/
dist/


# Cache to ignore
__pycache__/
.cache/
.pytest_cache/