# Files to ignore
setup.cfg
_how_to_make_dist.txt

# Extensions to ignore
*.so
*.html
*.ipynb_checkpoints
*.pyc

# Folders to ignore
env/
build/
fynance.egg-info/
dist/
old_scripts/
dev/

# Cache to ignore
__pycache__/
.cache/
.pytest_cache/