include LICENSE.txt
include README.md
# Top-level build script
include setup.py
# All source files
recursive-include fynance *.py *.pyx *.c
# Exclude what we don't want to include
prune */__pycache__
global-exclude *.pyc *.html *.so